.btn-create {
    background-color: #52BF83;
    color: white;
    font-weight: bold;
    border: none;
}
.btn-create:hover {
    background-color: #65D190;
}

.btn-update {
    background-color: #FF8177;
    color: white;
    font-weight: bold;
    border: none;
}
.btn-update:hover {
    background-color: #ff746a;
}